#file ignore
*.xls
*.log
*.ini
*.txt
error_log
Struktur File PHP
tes*
rak*
return*
saldo*
pengirim*
key*
export*
excel*
faktur*
dotmatrix*
efaktur*
copy*
daily*
cek*
barangKlr*
barangMsk*
log*
password*
printSto*
TableTe*
tanggal*
tambahClaim120717*
backup*
complite.php
koneksi.php


#folder ignore
/query
/import
/database
/cgi-bin
/action/barangKeluar
/action/barangMasuk
/cekLimit
/efaktur
/pengirim
/rak
/saldo
/updateSaldo
/function/api
/function/PHPExcel
/assets